@page "/editor"
@page "/editor/{PageLink}"
@page "/editor/{Folder}/{PageLink}"

<div class="top-row px-4">
    <div>
        <div style="display: flex">
            <label>Title:</label>
            <input @bind="PageModel.Title"/>
        </div>
        <div style="display: flex">
            <label>SubTitle:</label>
            <input @bind="PageModel.SubTitle"/>
        </div>
    </div>
    <div style="position: absolute; right: 6px; display: flex">
        <a class="nav-link" @onclick="Save">
            <span class="oi oi-check" aria-hidden="true"></span> Save
        </a>
        <a class="nav-link" @onclick="Cancel">
            <span class="oi oi-x" aria-hidden="true"></span> Cancel
        </a>
        <a class="nav-link" @onclick="Delete">
            <span class="oi" data-glyph="trash"></span> Delete
        </a>
        <a class="nav-link" @onclick="GitHistory">
            <span class="oi" data-glyph="trash"></span> Git History
        </a>
    </div>

</div>

<div class="content px-4" style="position: fixed; top: 80px; bottom: 6px; left: 254px; right: 4px;">
    <textarea id="editor-text-area" @ref="EditorElement" style="width: 48%; position: absolute; top: 45px; left: 2px; bottom: 6px;"
              @bind-value="PageModel.Content" @bind-value:event="oninput" 
              @onkeydown="OnKeyDown" @onfocus="OnFocus" />
    <div style="width: 48%; position: absolute; right: 2px; top: 0; bottom: 6px; overflow-y: scroll; overflow-x: hidden; word-wrap: normal;">
        <MarkdownRenderer Content="@PageModel.Content"/>
    </div>
    <Toolbar @ref="Toolbar" Bold="@Bold" Italic="@Italic" Strikethrough="@Strikethrough"
              Header1="@Header1" Header2="@Header2" Header3="@Header3"
              NumberedList="@NumberedList" BulletList="@BulletList"
              InlineCode="@InlineCode" CodeBlock="@CodeBlock"
              Style="position: absolute; top: 6px; left: 2px;"
              ButtonClick="OnToolbarButtonClicked"/>
</div>