@page "/editor"
@page "/editor/{PageLink}"

<div class="top-row px-4">
    <div>
        <div style="display: flex">
            <label>Title:</label>
            <input @bind="PageModel.Title" />
        </div>
        <div style="display: flex">
            <label>SubTitle:</label>
            <input @bind="PageModel.SubTitle" />
        </div>
    </div>
    <div style="position: absolute; right: 6px; display: flex">
        <a href="" class="nav-link" @onclick="Save">
            <span class="oi oi-check" aria-hidden="true"></span> Save
        </a>
        <a href="" class="nav-link" @onclick="Cancel">
            <span class="oi oi-x" aria-hidden="true"></span> Cancel
        </a>
        <a href="" class="nav-link" @onclick="Delete">
            <span class="oi" data-glyph="trash"></span> Delete
        </a>
    </div>
    
</div>

<div class="content px-4" style="position: fixed; top: 80px; bottom: 6px; left: 254px; right: 4px;">
    <textarea id="editor-text-area" style="height: 100%; width: 45%; position: absolute; top: 36px; left: 2px; bottom: 6px;"
              @bind-value="PageModel.Content" @bind-value:event="oninput" 
              @onkeydown="OnKeyDown" @onfocus="OnFocus" />
    <div style="height: 100%; width: 45%; position: absolute; right: 2px; top: 0; bottom: 6px;">
        <MarkdownRenderer Content="@PageModel.Content" />
    </div>
    <Toolbar @ref="Toolbar" Bold="@Bold" Italic="@Italic" Strikethrough="@Strikethrough"
             Header1="@Header1" Header2="@Header2" Header3="@Header3"
             Style="position: absolute; top: 6px; left: 2px;" 
             ButtonClick="OnToolbarButtonClicked" />
</div>